@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Sedgwick+Ave+Display&display=swap");
body,html{
    height: 100%;
    overflow: hidden;
    filter: none;
}

body{
    margin: 0%;
    padding: 0%;
    filter: none;
}

header{
    background-color: aquamarine;
    padding: 45px;
    height: 0%;
}

.logo{
    margin-top: -6vh;
}

.navBar{
    margin-top: -7vh;
    text-align: center;
}

div.backGround{
    background-image: url("../Images/pexels-luis-gomes-546819.jpg");
    margin-bottom: 20vh;
    background-color: rgba(46, 42, 42, 0.74);
    background-blend-mode: darken;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(4px);
    height: 100%;
    overflow: hidden;
}

/*.backGround{
    background-image: url("../Images/pexels-luis-gomes-546819.jpg");
    margin-bottom: 20vh;
    background-color: rgba(46, 42, 42, 0.74);
    background-blend-mode: darken;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(4px);
    height: 100%;
    overflow: hidden;
}*/