body{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-weight: 700;
}

.logo{
    font-weight: 700;
}

.carousel-height{
    height: 100%;
}

.carousel-item img{
    object-fit: cover;
    max-height:70vh;
}